body{margin-top:20px;}
.fa-fw {width: 2em;}

.container {

	margin-left: 0px;
}

.col-xs-12{

		margin-top: 1px;
		height: 100px;
		text-align : center;
}

.row{

	margin-top: 0px;
}

.admin-menu{

	
	border-radius:2px;
}


.{

	margin-left: 5px;
}