
div.topic{
font-family:"helvetica";
font-size:20px;

}

table.tblAbt{

font-family:"helvetica";
border-collapse: collapse;

}


td {
    padding-bottom: 1em;
    padding-top: 1em;
}

div.description1{

font-family:"helvetica";
background: #F8F8F8 ;
padding: 20px 10px 10px 10px;
width: 850px;
height: 320px ;    
border-radius:20px;
margin-bottom: 30px;
margin-top: 0px;
margin-right:150px;
border:1px solid #E8E8E8; 
}

div.description2{

font-family:"helvetica";
font-size:13px;
background: #F8F8F8 ;
width:850px;
height: 250px;
padding:10px;
margin:0px;
border:1px solid #E8E8E8; 
border-radius:20px;
}

div.pills{

margin-left: 250px;

}



*{font-family:"Century Gothic";}

#tblCadastro{width:100%;}
#tblCadastro thead tr{background:grey; color:White;}
#tblCadastro tr td, #tblCadastro tr th{text-align:left;
						 			   margin: 10px}
#tblCadastro tbody input{width:100%;}
#tblCadastro img{cursor: pointer;}





div.menu{
width:350px;
padding:10px;
margin:0px;
border:1px solid #E8E8E8;  
}


div.container1 {
    
background: #FFFFFF;
margin:0;
padding: 0 10px 0 10px;
width: 850px;
height: 1200px ;    
border-radius: 0 ;
margin-bottom: 30px;
margin-top: 0px;
margin-right:150px;



}

.School{
width:850px;
display: inline-block;
font-size:50px;
border:1px solid #E0E0E0 ;
color: #0000;
  
}

div.heading {
    
color:#000000 ;
margin: :0;
font-family:arial;
font-size:33px;
margin-bottom:10px;
}

div.container2 {
    
color:#000000;

width: 850px;
height: 1200px ;    
border-radius: 0 ;
margin-bottom: 30px;
margin-top: 0px;
margin-left:150px;
margin-right:150px;

}

div.user{
border-radius:20px;
width:650px;
padding:10px;
margin:0px;
border:1.5px solid #C0C0C0  ; 
font-weight: bold;
font-family:arial;



}

div.container
{
width:850px;
margin-bottom:5px;
}



body{

   background-image: url('back.jpg');
   background-repeat: no-repeat;
   background-position: top left;
   background-attachment: fixed;}

#wrapper {

}

div.image {
margin-left: 150px;
margin-right: 300px;
}



div.starter-template{

margin-right:300px;
}

#tabbable ul{
display: inline-block;
list-style-type: none;

}

div.nav1{

margin-left:850px;
}


